[Unit]
Description=FastConnect
After=network.target

[Service]
User=fastapi-user
Group=fastapi-user
WorkingDirectory=/home/fastapi-user/app/src/FastConnect
Environment="PATH=/home/fastapi-user/app/venv/bin"
ExecStart=/home/fastapi-user/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target